@charset "utf-8";
/*boom.css*/
body, div, table, p , ul {
    padding : 0px;
    margin : 0px;
    background-color: #778899;
    vertical-align: baseline;
    box-sizing: border-box;
}
#wrap{
    width : 1000px;
    margin : 0 auto;
    margin-top : 50px;
}

table{
    width : 1000px;
    border-spacing:0;
}
table tr td{
    border : 1px solid black;
    height: 50px;
    width: 50px;
}
img{
    width: 46px;
    /* 폭탄 안보이게 하는 방법    
    1. display: none;
    2. opacity: 0; */
}
